@import "tailwindcss";

/* Light theme as default! */
:root {
  --background: #f7fafd;
  --surface: #fff;
  --foreground: #192133;
  --primary: #0118D8;
  --primary-hover: #0130b8;        /* slightly darker for hover */
  --secondary: #1B56FD;
  --secondary-hover: #1240ba;
  --border: #dde3ec;
  --gray: #a5aac1;
  --muted: #c1c8d7;
  --border-radius: 0.875rem;
  --font-sans: var(--font-geist-sans, Arial, Helvetica, sans-serif);
}
.dark {
  --background: #000000;
  --surface: #181824;
  --foreground: #ededed;
  --primary: #375dfb;
  --primary-hover: #1B56FD;
  --secondary: #0118D8;
  --secondary-hover: #0130b8;
  --border: #2d3140;
  --gray: #b1b3bb;
  --muted: #575a64;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
